/* SERVICE SECTION CSS */

.n_serviceHead
{
    text-align: center;
    font-family:cursive;
    color:white;
    font-size:30px;
    padding:2%;
    
}
.n_row
{
/*    border:2px solid blue;*/
    margin-left: 10%!important;
   
    margin-bottom: 5%;
/*    border:2px solid red!important;*/

}
.n_serviceContainer 
{
    background-color: rgba(15,14,14,15);
    height: auto;
/*    margin-top: 20px;*/
/*    border:2px solid red;*/
}
.btn-primary
{
    background-color: black!important;
    border:2pxx solid white!important;
}
.n_serviceButton{
    background-color: black!important;
    border:2pxx solid white!important;  
    font-size: 20px;
    width:  260px;
    height: 160px;
    border: solid 2px white!important;
    margin-bottom: 20px;
	
}

.n_serviceButton:hover{
    background-color: rgba(18,14,14,18);
    border: 3px solid;
    border-color: white;
    cursor: pointer;
    opacity: 0.7;
    box-shadow:  -0px -0px white, 5px -5px 10px white;
    
}

/*
.serviceButton:active {
    background-color: rgba(18,14,14,18);
}
*/

.n_serTitle
{
    font-size:24px;
    font-family: cursive;
}
.list{
 
    padding: 2%!important;
    font-family:  cursive;
    font-size:18px!important;
    margin-left: 2%!important;
}
.modal-content
{
    color:white;
    font-family:cursive;
/*    border:2px solid blue!important;*/
}

.cross
{
    opacity: .8;
    color: #d43f3a;
}

.modal-header
{
    background-image: url(../img/ash.jpg);
/*     border:2px solid red!important;*/
    padding:0%!important;
    font-family: cursive;
}


.modal-body 
{
    background-image: url(../img/ash.jpg);
}


.modal-footer
{   background-image: url(../img/ash.jpg);
    color:red;
}
.modal-title
{
    color:white;
    font-family:cursive;
/*    border:2px solid blue;*/
    font-size: 30px;
    width:100%;
    text-align: center;
    margin-top:3%;
    
}

.close
{
    transform:scale(0.5);
}
.n_cross
{
    opacity: 3;
    color: #d43f3a;
}


.n_check
{
    border:2px solid green;
}

/*CSS FOR TEAM MEMBER PHOTOS*----------------------------*/
.n_fullTeam{
/*    background-color: rgba(15,14,14,15);*/
    background-image: url(../img/team/sadakaloagundilki.jpg);
    overflow-x: hidden;
    background-size: cover;
/*    position: relative;*/
/*    border: 2px solid yellow;*/
   
}
.n_teamRowBosses
{
    width:90%;
/*    border:2px solid blue;*/
    margin-left: 10%!important;
    margin-top: 3%;
}
.n_pic{

   
    height: 325px!important;
    width: 250px!important;
    object-fit: coverl
    border:2px solid red;
    border-radius: 3%;
    margin-bottom: 5%;
}

/* Bottom left text */
.n_bottom-left {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color:white;
  font-size:16px;
  font-family:cursive;
   padding:3%;
   font-weight: bold;
}

.n_TeamReadMore
{
    background: none;
    border: solid 1px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 24px;
    font-size:14px;
    font-family:cursive;
    padding:0.8%;
    font-weight: bold;
}


.pic2{
    background-image: url(../img/team/tanimVai.jpg);
    background-size: cover;
    align-content: center;
    
}
.pic3{
    background-image: url(../img/team/lizapu.jpg);
    background-size: cover;
    align-content: center;
    margin-left: 50px;
}
.pic4{
    background-image: url(../img/alvee.jpg);
    background-size: cover;
    align-content: center;
    margin-right: 50px;
}
.pic5{
    background-image: url(../img/farzin.jpg);
    background-size: cover;
    align-content: center;
    margin-left: 50px;
}
.pic6{
    background-image: url(../img/team/mahdi.jpg);
     background-size: cover;
    align-content: center;
}

.pic7{
    background-image: url(../img/team/munzee.jpg);
     background-size: cover;
    align-content: center;
    margin-left: 50px;
}

.pic8{
    background-image: url(../img/naeeb.jpg);
    background-size: cover;
    align-content: center;
    margin-left: 50px;
}
.pic9{
    background-image: url(../img/team/nushrat.jpg);
    background-size: cover;
    align-content: center;
    margin-left: 50px;
}
.pic10{
    background-image: url(../img/team/riyad.jpg);
    background-size: cover;
    align-content: center;
    margin-left: 50px;
}
.pic11{
    background-image: url(../img/team/dhrubo.jpg);
    background-size: cover;
    align-content: center;
    margin-left: 50px;
}


.pic:hover
{
    
     border-color: black;
     opacity: 1;
     box-shadow:  -0px -0px white, 3px -3px 20px white;
}



.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay{
    position: fixed;
    top: 0px;
    right: 45px;
    font-size: 60px;
	z-index: 2;
}
.closebtn{
	position: absolute;
    top: 2px;
    right: 28px;
    font-size: 80px;
	z-index: 2;
}
.TFullcontainer{
    width: 100%;
    height: 100%;
/*    background-color: rgba(0,0, 0, 0.8);*/
    position: fixed;
    top: 0px;
    left 0px;
    z-index: 1000;
	display: none;
    overflow: visible;
}
.Tinfo{
   width: 480px;
    height: 600px;
    margin: 10px auto;
    position: relative;
    background-image: url(images/white-paper-texture-hd.jpg);
    background-repeat: repeat;
        border-radius: 5px;
    
}
.readMoreImg{
    width: 160px;
    height: 180px;
    margin: 0 auto;
    background-image: url(images/tanimVai.jpg);
    background-size: cover;
    padding-bottom: 30px;
    border-radius: 3px;
    
}

.Tname{
    font-size: 20px;
    width: 180px;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 5px;
    border-bottom: solid 2px;
    
}
.Ttitle{
    font-size: 15px;
    padding-bottom: 5px;
    
}

.TDetails{
    padding: 18px;
    font-size: 15px;
}
.Tbutton{
   position: absolute;
    bottom: 8px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 4px;
    
    
}

.SFullcontainer{
/*
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.7);
    position: fixed;
    top: 0px;
    left 0px;
    z-index: 1000;
    display: none;
*/
}
.Sinfo{
   width: 480px;
    height: 600px;
    margin: 5px auto;
    position: relative;
    background-image: url(../img/team/white-paper-texture-hd.jpg);
    background-repeat: repeat;
        border-radius: 5px;
}
.SreadMoreImg{
    width: 160px;
    height: 180px;
    margin: 0 auto;
    background-image: url(../img/team/sonia.jpg);
    background-size: cover;
    padding-bottom: 30px;
    border-radius: 3px;
    
}

.TreadMoreImg{
    width: 160px;
    height: 180px;
    margin: 0 auto;
    background-image: url(../img/team/tanimBhai.jpg);
    background-size: cover;
    padding-bottom: 30px;
    border-radius: 3px;
    text-align: justify;
    
}

.Sname{
    font-size: 20px;
    width: 180px;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 5px;
    border-bottom: solid 2px;
    text-align: justify;
    
}
.Stitle{
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.SDetails{
    padding: 18px;
    font-size: 16px;
}
.Sbutton{
    position: absolute;
    bottom: 8px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 4px;
    
    
    
}




.nai
{
    height:10vh;
    width:100%;
}

.copy{
    position: absolute;
    padding: 0 20px 0 15px;
    bottom: 10px;
    height: 76px;
}

.TeamReadMore{
    background: none;
    width: 75px;
    height: 20px;
    color: white;
      
    border: solid 1px;
    border-radius: 5px;
    margin-left: 0px;
    
   
}



.well
{
    color:black;
    
}
.name
{
 color:white;
 font-weight:bold;
  
 margin-left: 5px;
    
}

.title
{
 color:white;
 font-weight:bold;
    
    margin-left: 5px;
}
.popoverTimeout
{
    margin-left: 2vw;
    padding-bottom: 1vw;
}
.popover {
    height: 300px;
    width: 260px;
}

.contact
{
    color:white;
    font-size: 20px;
     
    margin-bottom: 10px;
    
    
}

.pic{
    height: 325px;
    width: 250px;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    border-radius: 5px;
   
}
/*
.teamrow1{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
	padding-top: 20px;
    padding-left: 225px;
}
.teamrow2{
	display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-left:55px;
    
}
.teamrow3 {
	display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 55px;
}
*/
/*
@media screen and (min-width: 1400px) {
  .teamrow1{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
	padding-top: 20px;
     padding-left: 260px;
}
.teamrow2{
	display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 260px;
    
}
.teamrow3 {
	display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
}
*/

.cont
    {
/*        border:2px solid green;*/
        
    }

.tata
{
    height: 100vh;
}
/*----------------------PORTFOLIO CSS STARTS-----------*/
.tatata
{
    border:2px solid green!important;
    height:50%;
}
.n_portImageBFF {
     width:140px;
     height:160px;
     object-fit: cover;
     opacity: 2;
   
}
 .n_portImageCI {
   
     opacity: 2;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     width: 80%;
   
}
.n_portImageAnannya
{
     opacity: 2;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: -5%;
     width: 50%;
/*    border:2px solid red;*/
}

 .n_portImageJatrik {
   
     opacity: 2;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     width: 40%;
   
}
.n_portImageTribune {
    /* width:200px;
     height:100px;
     object-fit: cover;
     */
     opacity: 2;
    /* border:1px solid yellow;
    */
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     width: 60%;
    background: white;
    padding:2%;
   
}

 .n_portImageH {
   
     opacity: 2;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 3%;
     width: 40%;
   
}
.n_less
{
   
    margin-bottom: 5%;
    margin-top: 3%;
}

.n_secondPart
{
    margin-top: 10%;
/*    border: 2px solid red;*/
}

 .n_portImageUNDP {
   
     opacity: 2;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2%;
     width: 50%;
    margin-bottom: 25%;
}

 
 .n_portImageWF {
   
     opacity: 2;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2%;
     width: 50%;
     
}

/*
.n_portImageCI {
   
     opacity: 2;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     width: 80%;
   
}
*/

 #n_portFont {
     font-family: "Playfair Display",serif;
     font-weight: 400;
     font-size: 22px;
     line-height: 34px;
     color: white;
     text-shadow: 4px 4px 8px #000000;
     text-align: left;
}
 .n_listFont {
     font-family: "Poppins",sans-serif;
     font-size: 16px;
     font-weight: 400;
    /* line-height: 40px;
    */
     text-shadow: 2px 2px 4px #000000;
     text-align: justify;
}
 .n_left1st {
    /* border:2px solid green;
    */
     float: left;
     margin-bottom: 3%;
}
 .n_right1st {
    /* background-color: red;
     */
    /* height: 100%;
     width:50%;
     */
     float: right;
    /* border:2px solid black;
    */
    /* border:2px solid red;
    */
}
 .n_portOver {
    /* filter: brightness(1.2);
    */
     background-color:black;
}
 .deepskyblue {
     height: 80vh!important;
    ;
    /* border:2px solid red;
    */
    /*background-color:#41B3A3;
    */
     background-color: #B00020;
     background-color: #333536;
    /* background-color:salmon;
     background-color: rgb(247,72,1);
     background-color: #00B6F1;
     */
    /* background-color:#41B3A3;
    */
    /* background-color: #00B6F1;
    */
}
 .carousel-indicators {
     bottom: 0;
}
 .carousel-control {
     &.right, &.left {
         background-image: none;
    }
}
 .carousel .item {
     min-height: 350px;
     height: 100%;
     width: 100%;
}
 .carousel-control {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     width: 5%;
     font-size: 20px;
     color: #dc3545;
     color: darkred;
     color:#B00020;
     text-align: center;
    /* text-shadow: 0 1px 2px rgba(0,0,0,.6);
     */
    /* filter: alpha(opacity=50);
    */
     opacity: 1;
    /* background-color: red;
    */
    /* background-color: #41B3A3;
     */
}
 .carousel-control:hover{
     background-color:#41B3A3;
     background-color:#B00020;
     background-color: #1da1f2;
     opacity: 0.5;
}
.carousel-caption
/*
{
    border:2px solid red;
}*/


 .carousel-caption h3, .carousel .icon-container {
     background-color: red;
}
/* .carousel-caption {
     button {
         background-color: #09c;
    }
     h3 {
         padding: .5em;
    }
}
 */
 .carousel .icon-container {
     display: inline-block;
     font-size: 25px;
     line-height: 25px;
     padding: 1em;
     text-align: center;
     border-radius: 50%;
}
 .carousel-caption {
    /* transform:scale(1.5);
    */
    /* border:2px solid blue;
    */
     right:5%;
     left: 5%;
     top:5%;
     bottom:5%;
    /* margin: 0 auto;
    */
}

/* Make the image fully responsive */
/*
  .carousel-inner img {
      width: 100%;
      height: 100%;
}
*/
/*
 div {
     &:first-child {
         animation-delay:2s;
    }
     &:nth-child(2) {
         animation-delay: 2s;
    }
}
 button {
     animation-delay: 3s;
}undefined}undefined .n_test {
 height: 500px;
 background-color: skyblue;undefined}undefined .n_Portfolio {
 margin-top: 5%;
 margin-bottom: 5%;undefined}undefined
*/


/*----------------------PORTFOLIO CSS ENDS -----------------------------------------------*/
